@page "/feud/guest/{id}/{playername}"
@using Feud.Server.Data
@using Feud.Server.Services
@inject IFeudHostService FeudHostService
@inject IFeudGameService FeudGameService 
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@implements IDisposable

@if (Board != null)
{
	<audio id="buzzerSound" src="/media/buzzer.mp3"></audio>
	<audio id="revealSound" src="/media/reveal_answer.mp3"></audio>
	<div>
		<Board QuestionBoard="Board" Game="Game" Mode="@BoardViewMode.Player" CurrentPlayerName="@PlayerName"></Board>
	</div>
}


@code {
	[Parameter]
	public string Id { get; set; }

	[Parameter]
	public string PlayerName { get; set; }

	public QuestionBoard Board { get; set; }

	public FeudGame Game { get; set; }

	protected override void OnInitialized()
	{
		try
		{
			Board = FeudHostService.GetBoardForGuest(Id);

			Game = FeudGameService.LoadGame(Board.Id);

			Program.Logger.Log(NLog.LogLevel.Debug, $"FeudGuest.OnInitialized - adding event handlers");

			FeudHostService.AnswerToggled += BoardUpdated;
			FeudHostService.StrikeToggled += BoardUpdated;
			FeudHostService.BoardReset += BoardUpdated;
			FeudGameService.PlayerAdded += GameUpdated;
			FeudGameService.PlayerBuzzedIn += GameUpdated;
			FeudGameService.BuzzerReset += GameUpdated;
			FeudGameService.PlayerChosenToPlay += GameUpdated;
		}
		catch (Exception ex)
		{
			Program.Logger.Log(NLog.LogLevel.Error, ex);
			NavigationManager.NavigateTo("error");
		}
	}

	public void Dispose()
	{
		Program.Logger.Log(NLog.LogLevel.Debug, $"FeudGuest.Dispose - removing event handlers");

		FeudHostService.AnswerToggled -= BoardUpdated;
		FeudHostService.StrikeToggled -= BoardUpdated;
		FeudHostService.BoardReset -= BoardUpdated;
		FeudGameService.PlayerAdded -= GameUpdated;
		FeudGameService.PlayerBuzzedIn -= GameUpdated;
		FeudGameService.BuzzerReset -= GameUpdated;
		FeudGameService.PlayerChosenToPlay -= GameUpdated;
	}

	protected void BoardUpdated(object sender, BoardChangedEventArgs e)
	{
		try
		{
			if (e.BoardId == Board.Id)
			{
				Program.Logger.Log(NLog.LogLevel.Debug, $"FeudGuest.{e.Action} - {e.BoardId},{e.ItemChangedNumber}");

				InvokeAsync(StateHasChanged);

				if (e.Action == BoardChangedEventActions.AnswerToggled && e.NewValue)
				{
					JSRuntime.InvokeAsync<string>("PlayReveal");
				}
				else if (e.Action == BoardChangedEventActions.StrikeToggled && e.NewValue)
				{
					JSRuntime.InvokeAsync<string>("PlayBuzzer");
				}
			}
		}
		catch (Exception ex)
		{
			Program.Logger.Log(NLog.LogLevel.Error, ex);
			NavigationManager.NavigateTo("error");
		}
	}

	protected void GameUpdated(object sender, GameChangedEventArgs e)
	{
		try
		{
			if (e.BoardId == Board.Id)
			{
				Program.Logger.Log(NLog.LogLevel.Debug, $"FeudGuest.{e.Action} - {e.BoardId},{e.PlayerIndex}");

				InvokeAsync(StateHasChanged);
			}
		}
		catch (Exception ex)
		{
			Program.Logger.Log(NLog.LogLevel.Error, ex);
			NavigationManager.NavigateTo("error");
		}
	}

}
