@page "/feud/host/{id}"
@using Feud.Server.Data
@using Feud.Server.Services
@inject IFeudHostService FeudHostService
@inject NavigationManager NavigationManager
@implements IDisposable

@if (Board != null)
{
	<h3>Feud Host</h3>
	<div class="hostpage">
		<div class="hostpage-guest">
			<h4>Guest View</h4>
			<Board QuestionBoard="Board"></Board>
		</div>
		<div class="hostpage-host">
			<h4>Host View</h4>
			<HostPanel QuestionBoard="Board"></HostPanel>
		</div>
	</div>
}

@code {
	[Parameter]
	public string Id { get; set; }

	public QuestionBoard Board { get; set; }

	protected override void OnInitialized()
	{
		try
		{
			Board = FeudHostService.GetBoardForHost(Id);

			Program.Logger.Log(NLog.LogLevel.Debug, $"FeudHost.OnInitialized - adding event handlers");

			FeudHostService.AnswerToggled += BoardUpdated;
			FeudHostService.StrikeToggled += BoardUpdated;
			FeudHostService.BoardReset += BoardUpdated;
		}
		catch (Exception ex)
		{
			Program.Logger.Log(NLog.LogLevel.Error, ex);
			NavigationManager.NavigateTo("error");
		}
	}

	public void Dispose()
	{
		Program.Logger.Log(NLog.LogLevel.Debug, $"FeudHost.Dispose - removing event handlers");

		FeudHostService.AnswerToggled -= BoardUpdated;
		FeudHostService.StrikeToggled -= BoardUpdated;
		FeudHostService.BoardReset -= BoardUpdated;
	}


	protected void BoardUpdated(object sender, BoardChangedEventArgs e)
	{
		try
		{
			if (e.BoardId == Board.Id)
			{
				Program.Logger.Log(NLog.LogLevel.Debug, $"FeudHost.{e.Action} - {e.BoardId},{e.ItemChangedNumber}");

				InvokeAsync(StateHasChanged);
			}
		}
		catch (Exception ex)
		{
			Program.Logger.Log(NLog.LogLevel.Error, ex);
			NavigationManager.NavigateTo("error");
		}
	}

}
