@page "/feud"

@if (BoardToEdit != null && Boards != null)
{
	<div>
		<h3>Current Boards</h3>
		<div class="board-list-header">
			<div>&nbsp;</div>
			<div>Name</div>
			<div>Question</div>
			<div>Answer Count</div>
		</div>
		<div class="board-list">
			@foreach (var board in Boards)
			{
				<div class="board-list-item">
					<div class="board-list-item-actions">
						<NavLink style="color: #0366d6;" @onclick="(e => RunBoard(board.Id))">Run</NavLink>
						<NavLink style="color: #0366d6;" @onclick="(e => EditBoard(board.Id))">Edit</NavLink>
						<NavLink style="color: #0366d6;" @onclick="(e => DeleteBoard(board.Id))">Delete</NavLink>
					</div>
					<div>@board.Name</div>
					<div>@board.Question</div>
					<div>@board.AnswerCount</div>
				</div>
			}
		</div>
	</div>
	<div class="vert-gap"></div>
	<div class="vert-gap"></div>
	<div class="vert-gap"></div>
	<div class="vert-gap"></div>
	<div class="vert-gap"></div>
	<div class="vert-gap"></div>
	<div>
		<EditBoard BoardToEdit="BoardToEdit" CurrentTab="@CurrentEditTab"></EditBoard>
	</div>
}