@page "/play/feud/{id}"
@using Blazored.LocalStorage
@using Feud.Server.Data
@using Feud.Server.Services
@inject IFeudHostService FeudHostService
@inject IFeudGameService FeudGameService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject ICurrentPlayerNameService CurrentPlayerNameService
@inject ILocalStorageService LocalStorage
@implements IDisposable

@if (Board != null)
{
	<audio id="buzzerSound" src="media/buzzer.mp3"></audio>
	<audio id="revealSound" src="media/reveal_answer.mp3"></audio>
	<audio id="ringInSound" src="media/ringin.mp3"></audio>
	<div id="strike-overlay">
		<div id="strike-overlay-content">X</div>
	</div>
	<div>
		<Board QuestionBoard="Board" Game="Game" Mode="@BoardViewMode.Player" CurrentPlayerName="@PlayerName"></Board>
	</div>
}


@code {
	[Parameter]
	public string Id { get; set; }

	public string PlayerName { get; set; }

	public QuestionBoard Board { get; set; }

	public FeudGame Game { get; set; }

	protected override void OnInitialized()
	{
		try
		{
			Board = FeudHostService.GetBoardForGuest(Id);

			Game = FeudGameService.LoadGame(Board.Id);

			PlayerName = CurrentPlayerNameService.Name;

			Program.Logger.Log(NLog.LogLevel.Debug, $"FeudGuest.OnInitialized - adding event handlers");

			FeudHostService.AnswerToggled += BoardUpdated;
			FeudHostService.StrikeToggled += BoardUpdated;
			FeudHostService.BoardReset += BoardUpdated;
			FeudGameService.PlayerAdded += GameUpdated;
			FeudGameService.PlayerBuzzedIn += GameUpdated;
			FeudGameService.BuzzerReset += GameUpdated;
			FeudGameService.PlayersReset += GameUpdated;
			FeudGameService.PlayerChosenToPlay += GameUpdated;

		}
		catch (Exception ex)
		{
			Program.Logger.Log(NLog.LogLevel.Error, ex);
			NavigationManager.NavigateTo("error");
		}
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (string.IsNullOrEmpty(PlayerName))
		{
			PlayerName = await LocalStorage.GetItemAsync<string>(StorageKey.PlayerName);

			if (string.IsNullOrEmpty(PlayerName))
			{
				NavigationManager.NavigateTo(string.Format(PageRoutes.Play, Id));
			}
			else
			{
				CurrentPlayerNameService.Name = PlayerName;
			}
		}

		base.OnAfterRender(firstRender);
	}

	public void Dispose()
	{
		Program.Logger.Log(NLog.LogLevel.Debug, $"FeudGuest.Dispose - removing event handlers");

		FeudHostService.AnswerToggled -= BoardUpdated;
		FeudHostService.StrikeToggled -= BoardUpdated;
		FeudHostService.BoardReset -= BoardUpdated;
		FeudGameService.PlayerAdded -= GameUpdated;
		FeudGameService.PlayerBuzzedIn -= GameUpdated;
		FeudGameService.BuzzerReset -= GameUpdated;
		FeudGameService.PlayersReset -= GameUpdated;
		FeudGameService.PlayerChosenToPlay -= GameUpdated;
	}

	protected void BoardUpdated(object sender, BoardChangedEventArgs e)
	{
		try
		{
			if (e.BoardId == Board.Id)
			{
				Program.Logger.Log(NLog.LogLevel.Debug, $"FeudGuest.{e.Action} - {e.BoardId},{e.ItemChangedNumber}");

				InvokeAsync(StateHasChanged);

				if (e.Action == BoardChangedEventActions.AnswerToggled && e.NewValue)
				{
					JSRuntime.InvokeAsync<string>("PlayReveal");
				}
				else if (e.Action == BoardChangedEventActions.StrikeBuzzOnly || (e.Action == BoardChangedEventActions.StrikeToggled && e.NewValue))
				{
					var numberOfStrikesToDisplay = 1;
					if (e.Action == BoardChangedEventActions.StrikeToggled)
					{
						numberOfStrikesToDisplay = Board.Strikes.Count(x => x.StrikeVisible);
					}

					JSRuntime.InvokeAsync<string>("PlayBuzzer", new String('X', numberOfStrikesToDisplay));
				}
			}
		}
		catch (Exception ex)
		{
			Program.Logger.Log(NLog.LogLevel.Error, ex);
			NavigationManager.NavigateTo("error");
		}
	}

	protected void GameUpdated(object sender, GameChangedEventArgs e)
	{
		try
		{
			if (e.BoardId == Board.Id)
			{
				Program.Logger.Log(NLog.LogLevel.Debug, $"FeudGuest.{e.Action} - {e.BoardId},{e.PlayerIndex}");

				InvokeAsync(StateHasChanged);

				if (e.Action == GameChangedEventActions.PlayerBuzzedIn)
				{
					JSRuntime.InvokeAsync<string>("PlayRingIn");
				}
			}
		}
		catch (Exception ex)
		{
			Program.Logger.Log(NLog.LogLevel.Error, ex);
			NavigationManager.NavigateTo("error");
		}
	}

}
