@using Feud.Server.Data

@if (Answer == null || !Answer.AnswerAvailable)
{
	<div class="answer-item">
		&nbsp;
	</div>
}
else if (!Answer.AnswerVisible)
{
	<div class="answer-item answer-item-hidden">
		<div>@Answer.Number</div>
	</div>
}
else
{
	<VisibleAnswer Answer="@Answer"></VisibleAnswer>
}


@code {

	[Parameter]
	public QuestionAnswer Answer { get; set; }
}
