@using Feud.Server.Data
<div class="answer-list">
	@for(var i = 0; i < Answers.Count / 2; i++)
	{
		var index = i;
		<div class="answer-pair" >
			<AnswerListItem Answer="Answers[index]"></AnswerListItem>
			@if (index + 5 < Answers.Count)
			{
				<AnswerListItem Answer="Answers[index + 5]"></AnswerListItem>
			}
		</div>
	}
</div>

@code {

	[Parameter]
	public List<QuestionAnswer> Answers { get; set; }
}
