@using Feud.Server.Data
<div class="guest-board">
	<div class="board-div">
		<h1>@QuestionBoard.Name</h1>
	</div>
	<div class="board-div">
		<span>@QuestionBoard.Question</span>
	</div>
	<div class="board-div">
		<span>@QuestionBoard.TotalPoints</span>	
	</div>
	<div class="board-div">
		<StrikeList Strikes="QuestionBoard.Strikes"></StrikeList>
	</div>
	<AnswerList Answers="QuestionBoard.Answers"></AnswerList>
</div>

@code {
	[Parameter]
	public QuestionBoard QuestionBoard { get; set; }
}
