<div>
	<h3>@(string.IsNullOrEmpty(BoardToEdit.Id) ? "New Board" : "Edit Board")</h3>
	<div class="input-set">
		<div class="input-label">Name</div>
		<input class="input-text" @bind="BoardToEdit.Name" type="text" maxlength="50" />
		<div class="input-note">50 char max</div>
	</div>
	<div class="input-set">
		<div class="input-label">Question</div>
		<input class="input-text" @bind="BoardToEdit.Question" type="text" maxlength="200" />
		<div class="input-note">200 char max</div>
	</div>
	<div class="input-set">
		<div class="input-label">Answers</div>
		<div class="create-answers">
			<div name="header" class="create-answers-header">
				<div><a style="color: #0366d6;" @onclick="SelectImportTab">Import</a></div>
				<div><a style="color: #0366d6;" @onclick="SelectEditTab">Edit</a></div>
			</div>

			@if (CurrentTab == TabKeys.Import)
			{
				<div name="import" class="create-answers-import">
					<div class="create-answers-import-blob">
						<textarea @bind="BoardToEdit.AnswerBlob" maxlength="5000"></textarea>
						<div class="input-note">
							<p>
								Each answer on one row, in the correct order 1-10.<br />
								Optionally add the points after the answer, separated by a comma.<br />
								5000 char max.<br />
								Only the first 10 rows will be used.<br />
								Example:<br />
								Pizza,45<br />
								Hamburgers,37<br />
								Hot Dogs,15
							</p>
						</div>
					</div>
					<div>
						<button @onclick="ImportAnswers">Import</button>
					</div>
				</div>
			}
			@if (CurrentTab == TabKeys.Edit)
			{
				<div name="edit" class="create-answers-edit">
					<EditAnswerList Answers="BoardToEdit.Answers"></EditAnswerList>
				</div>
			}
		</div>

	</div>
	<div class="vert-gap"></div>
	<div class="vert-gap"></div>
	<div>
		@if (string.IsNullOrEmpty(BoardToEdit.Id))
		{
			<button @onclick="Save">Create</button>
			<button @onclick="CreateAndRun">Create & Run</button>	
		}
		else
		{
			<button @onclick="Save">Save</button>
			<button @onclick="Cancel">Cancel</button>
		}
	</div>
</div>