@using Feud.Server.Data

@if (StrikeAnswer.StrikeVisible)
{
	<div class="strike-list-item">
		X
	</div>
}
else
{
	<div class="strike-list-item">
		&nbsp;
	</div>
}

@code {

	[Parameter]
	public StrikeAnswer StrikeAnswer { get; set; }

}
