@using Feud.Server.Data


<div class="strike-list">
	@foreach (var strike in Strikes)
	{
		<StrikeListItem StrikeAnswer="strike"></StrikeListItem>
	}
</div>

@code {
	[Parameter]
	public List<StrikeAnswer> Strikes { get; set; }
}