@using Feud.Server.Data
<div  class="answer-item-visible">
	<div class="answer-item-text">
		@Answer.Text
	</div>
	@if (Answer.Points > 0)
	{
		<div class="answer-item-points">
			@Answer.Points
		</div>
	}
</div>
@code {
	[Parameter] 
	public QuestionAnswer Answer { get; set; }
}
